In [11]:
import pandas as pd
import tensorflow as tf
from sklearn import preprocessing

2022-05-16 12:41:07.414098: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-05-16 12:41:07.414133: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
data = pd.read_csv("vento_precios.csv",sep=",")
data = data.iloc[:,1:]
data.head()

      Price        Km  Transmision  Combustible
0   8600000  330000.0            0            1
1  15000000  226000.0            1            1
2  14950000  200000.0            1            1
3   8990000  300000.0            1            1
4  17800000  160000.0            1            1

In [6]:
X = data.iloc[:,1:]
X.head()

         Km  Transmision  Combustible
0  330000.0            0            1
1  226000.0            1            1
2  200000.0            1            1
3  300000.0            1            1
4  160000.0            1            1

In [7]:
Y = data.iloc[:,0:1]
Y.head()

      Price
0   8600000
1  15000000
2  14950000
3   8990000
4  17800000

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25)

In [34]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(units=1280,activation='relu',input_shape=X_train.shape))
model.add(tf.keras.layers.Dropout(0.34))
model.add(tf.keras.layers.Dense(units=640,activation='relu'))
model.add(tf.keras.layers.Dropout(0.64))
model.add(tf.keras.layers.Dense(units=320,activation='relu'))
model.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

In [35]:
model.compile(optimizer='adam',loss='mean_squared_error',metrics=[tf.keras.metrics.mae])
model.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_32 (Dense)            (None, 13736, 1280)       5120

 dropout_16 (Dropout)        (None, 13736, 1280)       0

 dense_33 (Dense)            (None, 13736, 640)        819840

 dropout_17 (Dropout)        (None, 13736, 640)        0

 dense_34 (Dense)            (None, 13736, 320)        205120

 dense_35 (Dense)            (None, 13736, 1)          321

=================================================================
Total params: 1,030,401
Trainable params: 1,030,401
Non-trainable params: 0
_________________________________________________________________

In [2]:
#model.fit(X_train.to_numpy().reshape(),y_train,epochs=200)

In [1]:
print(model.predict(pd.DataFrame([257000,0,1])))